// Remove the normal styling from hyperlinks in this particular widget
.dataCard#WidgetLeankitDiscoverySolutioningCardList td a {
    color: var(--colorThemeCardFont);
    text-decoration: none;
    &:hover {
        color: var(--colorThemeWidgetLinks);
    }
}

.refreshTimeRemaining {
    padding: 6px;
    font-size: 2vw;
}

.otherDetails {
    padding-top: 20vw;
    padding-left: 1vw;
    .title {
        font-size: 1.9vw;
    }
    .body {
        font-size: 1.5vw;
    }
}

.dataCard_container {
    display: grid;

    // This now gets set dymanically by cardCard.jsx
    // grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: repeat(6, 1fr);
    height: 60vw;
    grid-gap: 1rem;
    margin: 0 1.5rem 0 1.5rem;

    // The width of the overall scrollbar (Chrome/Safari)
    .dataCard::-webkit-scrollbar {
        width: 0.5em;
    }

    // the track (or background) of the elevator bar (Chrome/Safari)
    .dataCard::-webkit-scrollbar-track {
        background-color: var(--colorThemeScrollbarTrackBackground);
        border-radius: 7px;
    }

    // the elevator bar (Chrome/Safari)
    .dataCard::-webkit-scrollbar-thumb {
        background-color: var(--colorThemeScrollbarThumbBackground);
        border-radius: 7px;
    }

    .dataCard {
        scrollbar-color: var(--colorThemeScrollbarThumbBackground) var(--colorThemeScrollbarTrackBackground);
    }

    .dataCard {
        background-color: var(--colorThemeCardBackground);
        color: var(--colorThemeCardFont);
        border-radius: 0.2rem;
        padding: 0.5rem;
        width: 100%;
        height: 100%;

        // Center the content in the dataCard (combined with margin:auto in .cardBody)
        display: flex;
        flex-direction: column;

        overflow: auto;

        font-size: 1.4vw;
        font-family: "Nunito", "Courier New";

        // Align content - works in tandem with the display:flex in .dataCard
        // NOTE: Centering content left/right is easy without flex.  Centering up/down is tricky.  display:flex (parent) and margin:auto (child) make that easy
        margin: auto;

        min-height: 100%;
        min-width: 100%;

        // For widgets with text, I want display=inline
        // display: inline;
        // On 2019-01-20, did some experimenting, and removed this.  Testing seems fine.  Without it, seems to default to display:block

        // Typically used for large single numbers, outside of tables
        .redFont {
            color: var(--colorThemeCardRedFont);
        }
        .orangeFont {
            color: orange;
        }
        .greenFont {
            color: var(--colorThemeCardGreenFont);
        }

        table {
            // remove the double border between cells, make it a single border
            border-collapse: collapse;
            // Center the table left/right in it's containing div
            margin: 0 auto;

            tr {
                td {
                    border: 1px solid var(--colorThemeCardTableGridLines);
                    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                    font-size: 0.6vw;

                    &.redFont {
                        color: var(--colorThemeCardRedFont);
                        font-weight: 700;
                    }
                    &.orangeFont {
                        color: orange;
                        font-weight: 700;
                    }
                    &.greenFont {
                        color: var(--colorThemeCardGreenFont);
                        font-weight: 700;
                    }

                    &.tdRed {
                        color: var(--colorThemeCardRedFont);
                    }

                    &.blueFont {
                        color: var(--colorThemeCardBlueFont);
                        font-weight: 700;
                    }
                }
                th {
                    font-size: 0.8vw;
                    font-weight: 800;
                }
            }
        }

        // Scrolling Table Widget
        // This actually uses two tables, one table for the header row, and one for all the data
        .fullCardContainer {
            // By default, div shrink to fit the data inside it.  This forces the div it expand to the full width of it's parent
            min-width: 100%;

            .headerTable {
                // By default, div shrink to fit the data inside it.  This forces the div it expand to the full width of it's parent
                min-width: 100%;
            }
            .bodyTableContainerDiv {
                // Needs to be display:block.  div defaults to display:block, but let's just be sure
                display: block;
                // overflow only works on block elements.  Auto means no scrollbar, until content exceeds space, then add scrollbar
                overflow-x: auto;
                overflow-y: auto;
                // NOTE: height of .bodyTableContainerDiv gets set by javascript since we need to calculate in real-time

                table.scrollableTable {
                    // the idea is that this table is larger than it's parent div, and as you scroll the parent div, this table goes up and down

                    font-family: "Nunito", "Courier New";

                    // Forces table to occupy entire width of parent element, otherwise it shrinks to fit data
                    min-width: 100%;
                    tbody {
                        // Simply collapses the visual double-border between cells into a single border
                        border-collapse: collapse;
                    }

                    tr {
                        td {
                            border: 1px solid var(--colorThemeCardTableGridLines);
                            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                            font-size: 0.6vw;
                        }
                        th {
                            font-size: 0.8vw;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

    // This is the grid item (for charts)
    .chartJSCard {
        background-color: var(--colorThemeCardBackground);
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;
        // Don't add padding here, add it to the canvas

        canvas {
            // Spacing around the canvas/chart
            padding: 1.5rem;

            background-color: var(--colorThemeCardBackground);

            // There are way to make the chart.js responsive
            // PreReq: The chart.js needs to have option:responive on it.  Probably also maintainAspectRatio:false, then there are two solutions
            // 1) The div containing this canvas needs to be a *direct* child of the grid item.  If you stick an extra <div> in there, it all falls apart (though solution #2 would still work)
            // 2) The canvas needs to have width/height as 100% !important.  This forces it's known size upwards to the divs
            // NOTE: I prefer avoiding !important, so opting for solution #1, but leaving these two lines here just in case of emergency.
            // width: 100% !important;
            // height: 100% !important;
        }
    }

    .googleChartCard {
        background-color: var(--colorThemeCardBackground);
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Google chart creates a div, so style that immediate child as a flex item so we can easily center our content
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    // .googleChartCard > div {
    //     margin: 10px auto 10px auto;
    // }
    // .googleChartCard > div > div {
    //     margin: 0 auto;
    // }

    .googleGaugeChartCard {
        background-color: var(--colorThemeCardBackground);
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gaugeTitle {
            font-size: 3rem;
            text-align: center;
            color: var(--colorThemeCardFont);
            display: block;
        }
        table {
            // Google seems to create a table to hold a gauge, and I'm trying to center the gauge horizontally
            margin: 0 auto !important;
        }
    }
    .single-num-title {
        font-size: 1.1vw;
        // line-height: 2rem;
        text-align: center;
        font-family: "Nunito", "Courier New";
        padding-bottom: 0.2vw;
    }
    .single-num-value {
        font-size: 3.3vw;
        // line-height: 4rem;
        text-align: center;
        // line-height: normal;ß
    }
    .waiting-for-data {
        padding-top: 2vw;
        font-size: 1.5vw;
        // line-height: 4rem;
        text-align: center;
        // line-height: normal;ß
    }

    .cellRed {
        background-color: var(--colorThemeCardTableCellBackgroundRed);
    }

    .cellYellow {
        background-color: var(--colorThemeCardTableCellBackgroundAmber);
    }

    .cellGreen {
        background-color: var(--colorThemeCardTableCellBackgroundGreen);
    }
}
