// Dark theme
$color-pageBackground: #333b50;
$color-cardbackground: #2b2d3e;
$color-default: #bbb3b3;
$color-cardfont: #eeeeee;
$color-title: #bbb3b3;
$color-leftNav-buttons: $color-title;
$color-widget-links: #4183c4;
$color-leftNav-links: #4183c4;
$scrollbarTrackBackgroundColor: #242524;
$scrollbarThumbBackgroundColor: #696464;
