// Need to use CSS variables so they end up in the compiled CSS
// SASS/SCSS variables are more handy, but they get compiled the whole way to the raw color name in the CSS
// That means that Javascript won't be able to find/modify the variable, since it doesn't exist
// Hence, simpler CSS variables which end up in the compiled CSS
:root {
    // Default, which *should* be overridden by Javascript re-setting these variables
    // Dark Theme
    // --colorThemePageBackground: #333b50;
    // --colorThemeCardBackground: #2b2d3e;
    // --colorThemeBodyDefault: #bbb3b3;
    // --colorThemeCardFontDefault: #eeeeee;
    // --colorThemePageTitle: #bbb3b3;
    // --colorThemeLeftNavButtons: #bbb3b3;
    // --colorThemeWidgetLinks: #4183c4;
    // --colorThemeScrollbarTrackBackground: #242524;
    // --colorThemeScrollbarThumbBackground: #696464;

    // These are the CSS variables that I use, they are set via Javascript
    // I set them to red here, so it's pretty obvious if I forget to set one :)
    --colorThemePageBackground: #ff0000;
    --colorThemeCardBackground: #f00;
    --colorThemeBodyDefault: #f00;
    --colorThemeCardFontDefault: #f00;
    --colorThemePageTitle: #f00;
    --colorThemeLeftNavButtons: #f00;
    --colorThemeWidgetLinks: #f00;
    --colorThemeScrollbarTrackBackground: #f00;
    --colorThemeScrollbarThumbBackground: #f00;

    // New colors
    --colorThemeCardFontBlue: #f00;
    --colorThemeCardTableGridLines: #f00;
    --colorThemeCardFontGreen: #f00;
    --colorThemeCardFontRed: #f00;
    --colorThemeChartGreen: #f00;
    --colorThemeChartGreen: "#f00";
    --colorThemeChartBrown: "#f00";
    --colorThemeChartPurple: "#f00";
    --colorThemeCardTableCellBackgroundRed: #f00;
    --colorThemeCardTableCellBackgroundAmber: #f00;
    --colorThemeCardTableCellBackgroundGreen: #f00;
    --colorThemeLeftNavLinks: "#f00";

    // This is a dummy variable simply so I can easily trigger the color editor in my IDE (VS Code)
    --colorForNothing: #6f256f;
}
